*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 900px;
    height: 1200px;
    border: 1px solid gray;
}

#boton{
    background-color: #5e5e4a;
    margin: 25px;
    margin-left: 130px;
    padding: 5px 20px;
    color: white;
}

body{
    background-color: white;
}

header{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bada55;
    background-color: #b58a69;
    padding: 10px;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
}

nav a{
    padding: 14px 50px;
}

nav a:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;
}

section{
    text-align: justify;
    background-color: #dee5de;
    padding: 15px;
    padding-left: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

aside{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #d7d7cb;
    padding-top: 20px;
}

aside img{
    width: 150px;
    height: 80px;
    margin-bottom: 50px;
    padding: 0 1px;
}

footer{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e8e6e6;
    background-color: #5e5e4a;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 400px;
    margin-top: -195px;
    margin-right: 50px;
}

.texto2{
    text-align: justify;
    font-size: 16px;
    margin-left: 350px;
    margin-top: 20px;
}

@media screen and (max-width:650px){
    nav{
        flex-direction: column;
    }
    #contenedor{
        width: 600px;
    }
}